<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add case</h1>
<form th:action="@{/addCase}"
      th:object="${case}" method="POST">
    <input type="hidden" th:field="*{id}"/>
    Title:
    <input type="text" th:field="*{title}"/>
    <br/><br>
    Description:
    <input type="text" th:field="*{description}"/>
    <br/><br>
    <input type="submit" value="Add"/>
</form>

</body>
</html>